.menu-btn
  width: 21px
  height: 16px
  margin-right: 16px
  display: inline-block
  background-image: url("../../../assets/images/menu icon.svg")
  background-position: center center
  background-size: contain
  position: relative
